:root {
    --primary-font-family: "Lato", sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
    
    --primary-font-color: #0C1844;
    --secondary-font-color: #1A2E75;
    --primary-font-light-color:#DCE1F4;
    --secondary-font-light-color:#E7EBF7;
    
    --navbar-mobile-color:#FAF9F5;
    --navbar-desktop-color:#FAF9F5;
    
    --hover-font-color:#E88D67;

    --background-color-navbar:#8B0328;
    --background-color-body:#F6F4EB;
}

body {
    background-color: var(--background-color-body);
}

.header .showMenu .navbar-mobile {
    background-color:var(--background-color-navbar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 80%;
    border-radius: 5px;
    position: fixed;
    animation: slideInFromLeft 0.5s ease-in-out;
}

.header .showMenu .navbar-mobile a {
    font-family: var(--primary-font-family);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--navbar-color);
    font-size: 30px;
    padding-top: 30px;
    padding-left: 10px;
}

.header .showMenu .navbar-mobile .navBarRRSS {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header .showMenu .navbar-mobile a:hover {
    color: var(--hover-color);
    transition: 0.2s;
}

.header .showMenu .navbar-mobile.navBarRRSS a {
    text-decoration: none;
    color: var(--navbar-color);
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/* MENU BOTÓN TOGGLE */
.header .toggle {
    width: 60px;
    height: 60px;
    background: var(--background-color-navbar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    left: 30px;
    top: 30px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    z-index: 4444;
}

.header .toggle span {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 4px;
    background:var(--navbar-color);
    border-radius: 10px;
    transition: 0.5s;
}

/* ANIMACIÓN TOGGLE */
.toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 30px;
    /* left: 15px; */
}

.toggle.active span:nth-child(1) {
    width: 40px;
    transform: translateY(1px) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
    /* transform: translateY(15px); */
    width: 30px;
    /* left: 15px; */
}

.toggle.active span:nth-child(2) {
    width: 40px;
    transform: translateY(-2px) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle span:nth-child(3) {
    transform: translateY(15px);
    width: 30px;
    /* left: 15px; */
}

.toggle.active span:nth-child(3) {
    transform: translateX(70px);
    transition: 0.5s ease-in-out;
}




/* SMALL | Entre 576px y 767px */
/* Bootstrap breakpoints SM y superiores */
@media (min-width: 576px) {}

/* MEDIUM | Entre 768px y 991px  */
/* Bootstrap breakpoints MD y superiores */
@media (min-width: 768px) {}

/* LARGE | Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {
    /* Tus estilos para dispositivos large y superiores van aquí */
    .header .navBar-desktop {
        background-color: var(--background-color-navbar);
        height: 70px;
        width: 90%;
        position: absolute;
        top: 2%;
        left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
    }
    
    .header .navBar-desktop img {
        width: 80px;
        }
    .header .navBar-desktop .item-desktop {
        font-family: var(--primary-font-family);
        text-transform: uppercase;
        text-decoration: none;
        color: var(--primary-font-light-color);
        font-size: var(--font-size-base);
    }

    .header .navBar-desktop .item-desktop:hover{
        color: var(--hover-color);
        transition: 0.2s;
    }
    .header .fixed {
        position: fixed;
        top: 2%;
        left: 5%;
        width: 90%;
        background-color: #F9F8F8;
        /* Puedes ajustar el color de fondo según tu diseño */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        /* Sombra para resaltar */
        animation: slideDown 0.7s ease;
        /* Duración, transición y tipo de animación */
    }

    .header .navBar-desktop.fixed .item-desktop {
        color: var(--primary-font-color);
    }

    .header .navBar-desktop.fixed .item-desktop:hover {
        color: var(--hover-font-color);
    }

}

/* XLARGE | Desde 1200px en adelante */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 1200px) {
    /* Tus estilos para dispositivos extra large y superiores van aquí */
}

/* XXLARGE | Desde 1400px en adelante */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 1400px) {
    /* Tus estilos para dispositivos extra large y superiores van aquí */
}

/*ANIMATIONS*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}