:root {
    --primary-font-family: "Lato", sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;

    --primary-font-color: #0C1844;
    --secondary-font-color: #1A2E75;
    --primary-font-light-color: #DCE1F4;
    --secondary-font-light-color: #E7EBF7;

    --navbar-color: #FAF9F5;
    --hover-font-color: #E88D67;

    --primary-color: #8B0328;
    --background-color-body: #F6F4EB;
}

body {
    background-color: var(--background-color-body);
}

.header .showMenu .navbar-mobile {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 80%;
    border-radius: 5px;
    position: fixed;
    animation: slideInFromLeft 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header .showMenu .navbar-mobile a {
    font-family: var(--primary-font-family);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-font-light-color);
    font-size: 30px;
    padding: 30px 0 0 10px;
}

.header .showMenu .navbar-mobile a:hover {
    color: var(--hover-font-color);
    transition: 0.2s;
}

/* MENU BOTÓN TOGGLE */
.header .toggle {
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    left: 30px;
    top: 30px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
    z-index: 4444;
}

.header .toggle span {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 4px;
    background: var(--primary-font-light-color);
    border-radius: 10px;
    transition: 0.5s;
}

/* ANIMACIÓN TOGGLE */
.toggle span:nth-child(1) {
    transform: translateY(-15px);
}

.toggle span:nth-child(3) {
    transform: translateY(15px);
}

.toggle.active span {
    width: 40px;
}

.toggle.active span:nth-child(1) {
    transform: translateY(1px) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle.active span:nth-child(2) {
    transform: translateY(-2px) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
    transform: translateX(70px);
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container-form {
    font-family: var(--primary-font-family);
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: var(--font-size-base);
}

label {
    font-weight: bold;
    padding: 8px 0 3px;
}

button {
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-base);
    background-color: var(--background-color-body);
    color: var(--primary-font-color);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:hover {
    background-color: var(--primary-font-color);
    color: var(--primary-font-light-color);
    transition: 0.4s;
}

/* SMALL | Entre 576px y 767px */
/* Bootstrap breakpoints SM y superiores */
@media (min-width: 576px) {
    /* Tus futuros estilos para dispositivos small irán aquí */
}

/* MEDIUM | Entre 768px y 991px  */
/* Bootstrap breakpoints MD y superiores */
@media (min-width: 768px) {
    /* Tus futuros estilos para dispositivos medium irán aquí */
}

/* LARGE | Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {
    .header .navBar-desktop {
        background-color: var(--primary-color);
        height: 70px;
        width: 90%;
        position: absolute;
        top: 2%;
        left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
    }

    .header .navBar-desktop img {
        width: 80px;
    }

    .header .navBar-desktop .item-desktop {
        font-family: var(--primary-font-family);
        text-transform: uppercase;
        text-decoration: none;
        color: var(--primary-font-light-color);
        font-size: var(--font-size-base);
    }

    .header .navBar-desktop .item-desktop:hover {
        color: var(--hover-font-color);
        transition: 0.2s;
    }

    .header .fixed {
        position: fixed;
        top: 2%;
        left: 5%;
        width: 90%;
        background-color: #F9F8F8;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        animation: slideDown 0.7s ease;
    }

    .header .navBar-desktop.fixed .item-desktop {
        color: var(--primary-font-color);
    }

    .header .navBar-desktop.fixed .item-desktop:hover {
        color: var(--hover-font-color);
    }

    label {
        padding-top: 0;
        padding-bottom: 0;
    }

    input#item-name {
        width: 15%;
    }

    input#item-description {
        width: 25%;
    }

    input#item-price {
        width: 12%;
    }

    button {
        margin-top: 0;
    }
}

/* XLARGE | Desde 1200px en adelante */
/* Bootstrap breakpoints XL y superiores */
@media (min-width: 1200px) {
    /* Tus futuros estilos para dispositivos extra large irán aquí */
}

/* XXLARGE | Desde 1400px en adelante */
/* Bootstrap breakpoints XXL y superiores */
@media (min-width: 1400px) {
    /* Tus futuros estilos para dispositivos extra extra large irán aquí */
}

/* ANIMATIONS */
@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes slideInFromRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@keyframes slideInFromTop {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes slideInFromBottom {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}